In [28]:
import pandas as pd

data = pd.Series([1, 3, 5, 7, 9])
print(data)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [29]:
data = pd.Series([1, 3, 5, 7, 9])
data_list = data.tolist()
print("Pandas Series:", data)
print("Converted to Python list:", data_list)
print("Type of converted list:", type(data_list))

Pandas Series: 0    1
1    3
2    5
3    7
4    9
dtype: int64
Converted to Python list: [1, 3, 5, 7, 9]
Type of converted list: <class 'list'>

In [30]:
series1 = pd.Series([1, 3, 5, 7, 9])
series2 = pd.Series([2, 4, 5, 8, 9])

comparison = (series1 == series2)
print(comparison)

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [31]:
data = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']})


data['A'] = data['A'].astype(float)

print(data.dtypes)

A    float64
B     object
dtype: object

In [32]:
data = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]})

powers = data.apply(lambda x: x ** 2)

print(powers)

      X     Y     Z
0  6084  7056  7396
1  7225  8836  9409
2  9216  7921  9216
3  6400  6889  5184
4  7396  7396  6889

In [33]:
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

first_three_rows = df.head(3)

print("First three rows of the data frame:")
print(first_three_rows)

First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [34]:
data = {
    'ID': ['S001', 'S002', 'S003', 'S004', 'S005', 'S006'],
    'Grade': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'Name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'DOB': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'Age': [35, 32, 33, 30, 31, 32]
}

df = pd.DataFrame(data)

print("Default Index:")
print(df)

df.set_index('ID', inplace=True)
print("\nAfter setting 'ID' as index:")
print(df)

Default Index:
     ID Grade            Name         DOB  Age
0  S001     V  Alberto Franco  15/05/2002   35
1  S002     V    Gino Mcneill  17/05/2002   32
2  S003    VI     Ryan Parkes  16/02/1999   33
3  S004    VI    Eesha Hinton  25/09/1998   30
4  S005     V    Gino Mcneill  11/05/2002   31
5  S006    VI    David Parkes  15/09/1997   32

After setting 'ID' as index:
     Grade            Name         DOB  Age
ID
S001     V  Alberto Franco  15/05/2002   35
S002     V    Gino Mcneill  17/05/2002   32
S003    VI     Ryan Parkes  16/02/1999   33
S004    VI    Eesha Hinton  25/09/1998   30
S005     V    Gino Mcneill  11/05/2002   31
S006    VI    David Parkes  15/09/1997   32

In [35]:
df = pd.DataFrame(data)

print("Default Index:")
print(df)

df.set_index('ID', inplace=True)
print("\nAfter setting 'ID' as index:")
print(df)

df.reset_index(inplace=True)
print("\nAfter resetting index:")
print(df)

Default Index:
     ID Grade            Name         DOB  Age
0  S001     V  Alberto Franco  15/05/2002   35
1  S002     V    Gino Mcneill  17/05/2002   32
2  S003    VI     Ryan Parkes  16/02/1999   33
3  S004    VI    Eesha Hinton  25/09/1998   30
4  S005     V    Gino Mcneill  11/05/2002   31
5  S006    VI    David Parkes  15/09/1997   32

After setting 'ID' as index:
     Grade            Name         DOB  Age
ID
S001     V  Alberto Franco  15/05/2002   35
S002     V    Gino Mcneill  17/05/2002   32
S003    VI     Ryan Parkes  16/02/1999   33
S004    VI    Eesha Hinton  25/09/1998   30
S005     V    Gino Mcneill  11/05/2002   31
S006    VI    David Parkes  15/09/1997   32

After resetting index:
     ID Grade            Name         DOB  Age
0  S001     V  Alberto Franco  15/05/2002   35
1  S002     V    Gino Mcneill  17/05/2002   32
2  S003    VI     Ryan Parkes  16/02/1999   33
3  S004    VI    Eesha Hinton  25/09/1998   30
4  S005     V    Gino Mcneill  11/05/2002   31
5  S006    VI    David Parkes  15/09/1997   32

In [36]:
dates = pd.date_range('2022-01-01', periods=5)
df = pd.DataFrame({'A': [1, 2, 3, 4, 5]}, index=dates)

print(df)

            A
2022-01-01  1
2022-01-02  2
2022-01-03  3
2022-01-04  4
2022-01-05  5

In [37]:
data = {'A': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data)
df.index.name = 'CustomIndexName'

print(df)

                 A
CustomIndexName
0                1
1                2
2                3
3                4
4                5

In [38]:
series = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

selected_row = series.iloc[2]
print(selected_row)

df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [6, 7, 8, 9, 10]}, index=['a', 'b', 'c', 'd', 'e'])

selected_row_df = df.iloc[1]
print(selected_row_df)

3
A    2
B    7
Name: b, dtype: int64