In [62]:
x = int(input("Enter a number: "))
for digit in range (1,x+1):
    print(int(digit) ** 3)

Enter a number: 5
1
8
27
64
125

In [63]:
x =input("Enter a string: ")
count=0
for num in range(len(x)) :
    if(x[num]=="o" or x[num]=="u" or x[num]=="a" or x[num]=="i" or x[num]=="e"):
      count=count+1
count

Enter a string: abcei

3

In [64]:
fruits = ("apple", "banana", "mango")
list1=list(fruits)
list1.append("orange")
tuple1=tuple(list1)
print(fruits,tuple1)

('apple', 'banana', 'mango') ('apple', 'banana', 'mango', 'orange')

In [73]:
num=[2,-7,12,0,3,1]
minn=num[0]
for x in num:
  if(x<minn):
    minn=x
minn

-7

In [74]:
num=[2,-7,12,0,33,1]
maxx=num[0]
for x in num:
  if(x>maxx):
    maxx=x
maxx

33

In [75]:
num=[1,2,-1,4]
result=1
for x in num:
  result=result*x
result

-8

In [76]:
fruits = ["apple", "banana", "mango"]
copy=fruits[:]
#copy=fruits.copy()
#copy=list(fruits)
copy

['apple', 'banana', 'mango']

In [79]:
num = {2,-7,12,0,33,1}
numlist=list(num)
minn=numlist[0]
maxx=numlist[0]
for x in numlist:
  if(x<minn):
    minn=x
  elif(x>maxx):
    maxx=x
print(minn,maxx)

-7 33